*{
    margin: 0;
    padding: 0;
}

header .titulo{
    position: absolute;
    margin-left: 120px;
    margin-top: 0.2em;
    font-family: 'Saira', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 76px;
    color: #E9D73C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .encabezado{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002198 ;
    height: 100px;
    position: relative;
    overflow: hidden;
}    
header .encabezado a{
    padding: 5px 12px;
    text-decoration: none;
    color: beige;
}
header .navegacion{
    padding: 5px 40px;
    background-color: #D9D9D9 ;
    height: 40px;
    text-shadow: 10x;
    display: flex;
}
header .navegacion a{ 
    padding: 5px 30px;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    line-height: normal;
}
.navegacion a:hover {
    font-size: 1 em;
    font-weight: bold;
    color: #002198;
    transition: font-size 0.3s ease;
}
#regis{
    border: 1px solid #E9D73C;
    border-radius: 20px;
}

/* RESPONSIVE del encabezado*/
@media(min-width:900px){

    header{
        position:fixed;
        width:100%;
        z-index: 9999;
    }
    header .encabezado{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-right: 20px;
    }
    .img-encabezado{
        margin-left: 20px;
        background-image:url("/media/Logo.png");
        background-size: cover;
        background-position: center center;
        height: 80px;
        width: 80px;
    }
    .hex{
        margin-top: 78px;
        margin-left: 100px;
        background-image:url("/media/hexagon.png");
        background-size: cover;
        background-position: center center;
        height: 40px;
        width: 40px;
        position: absolute;
    }
    .opciones {
        background-color: #002198 ;
        z-index: 9999;
    }
}