:root  {     /*Seudo elementos, forma dee almacenar variables en css conocidas como custom property*/
  --blanco: #ffffff;
  --grisClaro: #DFE9F3;
  --gris: #757575;
  --oscuro: #212121;
  --secundario: #E9D73C;
  --primario: #002198; 
  --azulMedio: #022CBF;
  --azulOscuro: #00037A;
  
  /*Definiendo estas propiedades con valores podemos cambiar el estilo a la pagina sin necesidad de
  cambiar cada elemento, puede ser colores, fuentes, tamaño de fuentes, etc*/
}

/*Globales*/
html{   
  font-size: 80%;
  box-sizing: border-box;/*hack para Box Model*/
  scroll-snap-type: y mandatory;
}

.container{
  font-size: 15px;      
  font-family:'Krub', sans-serif;
  background-color: var(--oscuro);
  line-height: 3rem;
  max-width: 200rem;
  margin: 0 auto;
  color: var(--blanco);
  padding: 2rem;
}
.hex{
  margin-top: 78px;
  margin-left: 100px;
  background-image:url("img\hexagon.png");
  background-size: cover;
  background-position: center center;
  height: 60px;
  width: 60px;
  position: absolute;
}
.navegadores a {
  display:contents;
  text-align: left;
  color: var(--blanco);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}
.navegadores a:hover {
  background-color: var(--blanco);
  color: var(--primario); 
}


/*Tipografía*/
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;
}
h6, h1, h4 {
  text-align: left;
}

/*Footer*/

@media (min-width: 768px) {
  .secciones {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      column-gap: 2rem;
  }
}

.seccion{
  display: flex;
  flex-direction: column;
}
.seccion.metodosPago img {
  width: 35px;
  height: 35px;
  margin-right: 10px;

}

.seccion h3 {
  color: var(--blanco);
  font-weight: bold;
}
.seccion h2, h5 {
  color: var(--blanco);
  font-weight: bold;
  text-align: left;
  margin: .5rem;
}



*{
    margin: 0;
    padding: 0;
}

header .titulo{
    position: absolute;
    margin-left: 120px;
    margin-top: 0.2em;
    font-family: 'Saira', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 76px;
    color: #E9D73C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .encabezado{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002198 ;
    height: 100px;
    position: relative;
    overflow: hidden;
}    
header .encabezado a{
    padding: 5px 12px;
    text-decoration: none;
    color: beige;
}
header .navegacion{
    padding: 5px 40px;
    background-color: #D9D9D9 ;
    height: 40px;
    text-shadow: 10x;
    display: flex;
}
header .navegacion a{ 
    padding: 5px 30px;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    line-height: normal;
}
.navegacion a:hover {
    font-size: 1 em;
    font-weight: bold;
    color: #002198;
    transition: font-size 0.3s ease;
}
#regis{
    border: 1px solid #E9D73C;
    border-radius: 20px;
}

/* RESPONSIVE del encabezado*/
@media(min-width:900px){

    header{
        position:fixed;
        width:100%;
        z-index: 9999;
    }
    header .encabezado{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-right: 20px;
    }

  
  .img-encabezado{
      margin-left: 20px;
      background-image:url("media/Logo.png");
      background-size: cover;
      background-position: center center;
      height: 80px;
      width: 80px;
  }
  .hex{
      margin-top: 78px;
      margin-left: 100px;
      background-image:url("media/hexagon.png");
      background-size: cover;
      background-position: center center;
      height: 40px;
      width: 40px;
      position: absolute;
  }
  .opciones {
      background-color: #002198 ;
      z-index: 9999;
    }
  } 
  .Sub1 {
      width: 372px;
      color: rgba(232,215,60,1);
      position: absolute;
      top: 60px;
      left: 74px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Saira;
      font-weight: Bold;
      font-size: 50px;
      opacity: 1;
      text-align: left;
    }
  .Sub2 {
      width: 284px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 140px;
      left: 74px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Paytone One;
      font-weight: Regular;
      font-size: 20px;
      opacity: 1;
      text-align: left;
    } 
    .text {
      width: 439px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 220px;
      left: 74px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Play;
      font-weight: Regular;
      font-size: 20px;
      opacity: 1;
      text-align: left;
    }
  .informacion{
      width: 604px;
      height: 579px;
      background: linear-gradient(rgba(0,33,151,0.7699999809265137), rgba(0,33,151,0.15000000596046448));
      opacity: 1;
      position: absolute;
      top: 251px;
      left: 86px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    } 
    .Title {
      width: 255px;
      color: rgba(0,33,151,1);
      position: absolute;
      top: 251px;
      left: 870px;
      font-family: Play;
      font-weight: Bold;
      font-size: 32px;
      opacity: 1;
      text-align: left;
    }
    .Prin2 {
      width: 417px;
      height: 34px;
      background: url("../images/v466_9.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 342px;
      left: 791px;
      border: 1px solid rgba(172,172,172,1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    .text1 {
      width: 364px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 694px;
      left: 835px;
      font-family: Play;
      font-weight: Regular;
      font-size: 13px;
      opacity: 1;
      text-align: justified;
    }
    .Prin1 {
      width: 627px;
      height: 517px;
      background: url("../images/v466_2.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 313px;
      left: 739px;
      border: 1px solid rgba(0,33,151,0.3100000023841858);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }
    .Prin3 {
      width: 417px;
      height: 33px;
      background: url("../images/v473_3.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 402px;
      left: 791px;
      border: 1px solid rgba(172,172,172,1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    .Prin4 {
      width: 417px;
      height: 34px;
      background: url("../images/v540_19.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 462px;
      left: 791px;
      border: 1px solid rgba(172,172,172,1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    .Prin5 {
      width: 417px;
      height: 34px;
      background: url("../images/v540_17.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 520px;
      left: 791px;
      border: 1px solid rgba(172,172,172,1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    .Prin6 {
      width: 423px;
      height: 102px;
      background: url("../images/v466_10.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 582px;
      left: 791px;
      border: 1px solid rgba(172,172,172,1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
      text-align: justify;
    }
    
    
    .ex1{
      width: 20px;
      height: 17px;
      
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 708px;
      left: 791px;
      
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
    }
    .ex2 {
      width: 96px;
      height: 26px;
      background: rgba(0,33,151,1);
      color: rgba(255,255,255,1);
      font-family: Play;
      font-weight: Regular;
      text-align: justified;
      font-size: 16px;
      opacity: 1;
      position: absolute;
      top: 774px;
      left: 1121px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }
    .ex3 {
      width: 50px;
      
      position: absolute;
      top: 776px;
      left: 1147px;
      
      opacity: 1;
      
    }
    .ex4 {
      width: 80px;
      height: 71px;
      background: rgba(255,255,255,1);
      opacity: 0.30000001192092896;
      position: absolute;
      top: 672px;
      left: 1228px;
      overflow: hidden;
    }
    .ex5 {
      width: 65px;
      height: 50px;
      background: rgba(0,40,145,1);
      opacity: 1;
      position: absolute;
      top: 11px;
      left: 5px;
    }
    .ex6 {
      width: 125px;
      height: 112px;
      background: rgba(255,255,255,1);
      opacity: 0.30000001192092896;
      position: absolute;
      top: 696px;
      left: 1234px;
      overflow: hidden;
    }
    .ex7 {
      width: 102px;
      height: 79px;
      background: rgba(0,40,145,1);
      opacity: 1;
      position: absolute;
      top: 18px;
      left: 8px;
    }

    .contenedor{
      max-width: 1200px;
      padding: 10px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      /* oculto lo que queda fuera del .contenedor */
      contain: paint;
  }
  /* SECCION CONTENEDOR DE ITEMS */
  .contenedor .contenedor-items{
      margin-top: 150px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-gap:30px;
      grid-row-gap: 30px;
      /* width: 60%; */
      width: 100%;
      transition: .3s;
  }
  .contenedor .contenedor-items .item{
      max-width: 200px;
      margin: auto;
      border: 1px solid #666;
      border-radius: 10px;
      padding: 20px;
      transition: .3s;
  }
  .contenedor .contenedor-items .item .img-item{
      width: 100%;
      height: 100px;
  }
  .contenedor .contenedor-items .item:hover{
      box-shadow: 0 0 10px #666;
      scale: 1.05;
  }
  .contenedor .contenedor-items .item .titulo-item{
      display: block;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
  }
  .contenedor .contenedor-items .item .precio-item {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
  }
  
  .contenedor .contenedor-items .item .boton-item{
      display: block;
      margin: 10px auto;
      border: none;
      background-color: black;
      color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
  }
  /* seccion carrito */
  .carrito{
      border: 1px solid #666;
      width: 35%;
      margin-top: 30px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: auto;
      position: sticky !important;
      top: 0;
      transition: .3s;
      /* Estilos para ocultar */
      margin-right: -100%;
      opacity: 0;
  }
  .carrito .header-carrito{
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 30px 0;
  }
  .carrito .carrito-item{
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      position: relative;
      border-bottom: 1px solid #666;
      padding: 20px;
  }
  .carrito .carrito-item img{
      margin-right: 20px;
  }
  .carrito .carrito-item .carrito-item-titulo{
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
  }
  .carrito .carrito-item .selector-cantidad{
      display: inline-block;
      margin-right: 25px;
  }
  .carrito .carrito-item .carrito-item-cantidad{
      border: none;
      font-size: 18px;
      background-color: transparent;
      display: inline-block;
      width:30px;
      padding: 5px;
      text-align: center;
  }
  .carrito .carrito-item .selector-cantidad i{
      font-size: 18px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
  }
  .carrito .carrito-item .carrito-item-precio{
      font-weight: bold;
      display: inline-block;
      font-size: 18px;
      margin-bottom: 5px;
  }
  .carrito .carrito-item .btn-eliminar{
      position: absolute;
      right: 15px;
      top: 15px;
      color: #000;
      font-size: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
      display: block;
      background: transparent;
      z-index: 20;
  }
  .carrito .carrito-item .btn-eliminar i{
      pointer-events: none;
  }
  
  .carrito-total{
      background-color: #f3f3f3;
      padding: 30px;
  }
  .carrito-total .fila{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
  }
  .carrito-total .btn-pagar{
      display: block;
      width: 100%;
      border: none;
      background: #000;
      color: #fff;
      border-radius: 5px;
      font-size: 18px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: .3s;
  }
  .carrito-total .btn-pagar:hover{
      scale: 1.05;
  }
  
  /* SECCION RESPONSIVE */
  @media screen and (max-width: 850px) {
      .contenedor {
        display: block;
      }
      .contenedor-items{
          width: 100% !important;
      }
      .carrito{
          width: 100%;
      }
    }
  
     

